body {

	margin: 0;
	padding: 0;
	color: #d7e1ee;
	font-family: 'Montserrat', sans-serif;
}


/* Header */

.header-basic {
	background-color: #2A2937;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}


.header-basic .header-limiter nav {
	font: 16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover {
	color: #D7AF5B;
	/* opacity: 1; */
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float: none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

}

/* MAIN  */

main {
	height: 150em;
	background-color: #2A2937;

	/* parralax */
	overflow-x: hidden;
	overflow-y: auto;
	perspective: 2px;

}

/* SECTION 1 */
.first_section {
	background-color: #1B1924;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.first_section h1 {
	font-weight: lighter;
	align-self: center;
	font-size: 3vw;
	padding-right: 5%;
}

.first_section .logoLR {
	height: 80%;
	padding-top: 2%;
	align-items: center;
	/* width: 100%; */
}

.first_section img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}


/* SECTION 2 */
.section_2 {
	display: flex;
	flex-direction: column;
	margin-right: 25%;
	margin-left: 25%;
	padding: 4%;
}

.section_2 button {
	background-color: #D7AF5B;
	align-self: baseline;
	width: 20%;
	height: 50px;

	background-image: linear-gradient(to right, #e47d29, #D7AF5B, #ef9d43, #e77407);
	box-shadow: 0 0px 10px 0 rgba(243, 95, 9, 0.932);


	color: #2A2937;
	cursor: pointer;
	border: none;

	border-radius: 20px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.section_2 button a {
	text-decoration: none;
	color: #2A2937;
	font-size: x-large;
	font-weight: lighter;
}

.section_2 button:hover {
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.section_2 button:hover:focus {
	outline: none;
}


/* HR  */

.divider {
	color: #ffffff;
	display: table;
	font-size: 5vh;
	text-align: center;
	width: 85%;
	margin: 40px auto;
	padding-top: 3%;
}

.divider span {
	display: table-cell;
	position: relative;
}

.divider span:first-child,
.divider span:last-child {
	width: 50%;
	top: 13px;
	-moz-background-size: 100% 2px;
	background-size: 100% 2px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}

.divider span:first-child {
	background-image: -webkit-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: -moz-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: -o-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: linear-gradient(90deg, transparent, #d7e1ee);
}

.divider span:nth-child(2) {
	color: #d7e1ee;
	padding: 0px 5px;
	width: auto;
	white-space: nowrap;
}

.divider span:last-child {
	background-image: -webkit-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: -moz-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: -o-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: linear-gradient(90deg, #d7e1ee, transparent);
}

.divider span {
	color: #ffffff;
}

/* MES PROJETS  */
.bg_container1,
.bg_container2,
.bg_container3 {
	width: 100%;
	height: 20vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg_container1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://www.theindianwire.com/wp-content/uploads/2020/04/fidget-spinner-video-games-controllers-playstation-wallpaper-1024x683.jpg);

}

.bg_container2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://g5-assets-cld-res.cloudinary.com/image/upload/x_0,y_134,h_1233,w_2186,c_crop/q_auto,f_auto,fl_lossy,c_fill,g_center,h_406,w_720/v1598996497/g5/g5-c-5lzenrews-olympus-property-management/g5-cl-1k8w0ssgsw-mosaic-dallas/services/GettyImages-1257225600_u7gsgu.jpg);

}

.bg_container3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/4014646.jpg);

}

a {
	text-decoration: none;
	color: #fafafa;

}

.bg_container1 h1,
.bg_container2 h1,
.bg_container3 h1 {
	color: #d7e1ee;
	text-align: center;
	font-weight: lighter;
	padding-top: 3%;
}

/* MES COMPETENCES */

.global_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery {
	width: 240px;
	justify-items: center;
}

div.gallery img {
	width: 100%;
	height: auto;
}

/* MES LOISIRS*/







/* CONTACT FOOTER */

/*-----------------------
----- Basic Styles -----
-------------------------*/

body{
	font-family: Raleway, Arial, sans-serif;
    font-size:16px;
    font-weight:300;
    color:#6d6d6d;
	overflow-x:hidden;
}

a{
	color:#f9398c;
	text-decoration:none
}

a:hover,a:focus{
	color:#f9398c;
	text-decoration:underline
}

a:focus,
.btn:focus {
	outline: none;
}

.img-responsive {
    border: 1px solid #ddd;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight:300;
}

.big-text{
    font-size:58px;
    font-weight:300;
    line-height:62px;
    letter-spacing:0.01em;
    word-spacing: 0.15em;
    text-transform:uppercase;
}

.section-title{
    margin-top:-20px;
    margin-bottom: 80px;
    text-align:center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
    padding-top:50px;
    padding-bottom:50px;
}

/*-----------------------
----- Color Styles ------
-------------------------*/

.bg-color1{
    color:#fff;
    background:#509B9E;
}

.bg-color2{
    color:#fff;
    background:#f9398c;
}

.bg-color3{
    color:#fff;
    background:#334959;
}

.border-bottom-color2{
    border-bottom:7px solid #f9398c;
}

.border-top-color2{
    border-top:7px solid #f9398c;
}

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before{
    background:#509B9E;
}

.color1 .service-icon:after{
    border:3px solid #509B9E;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before{
    background:#f9398c;
}

.color2 .service-icon:after{
    border:3px solid #f9398c;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before{
    background:#334959;
}

.color3 .service-icon:after{
    border:3px solid #334959;
}

/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2{
    padding: 10px 30px;
    color:#fff;
    font-size: 21px;
    font-weight: 300;
    background:#f9398c;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}

.btn-color1{
    background:#509B9E;
}

.btn-color1:hover,
.btn-color2:hover{
    color:#fff;
    opacity: 0.9;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active{
    color:#fff;
}

.btn-color1 .fa,
.btn-color2 .fa{
    margin-right: 15px;
}

/*----------------------
----- Contact Styles ----
------------------------*/

#contact{
    background-image:url('../images/bg-contact.png');
    background-repeat:no-repeat;
    background-position:0 100%;
    background-color: #fff;
}

#contact-form .form-group label{
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
}

#contact-form.no-placeholder .form-group label{
    display:block;
}

#contact-form .controls {
    padding:0;
    margin-bottom:30px;
    border:1px solid #ddd;
    border-radius:2px;
}

#contact-form .form-control {
    background:transparent !important;
    border:none;
    border-bottom:3px solid transparent;
    border-radius:0;
    outline:none;
    box-shadow:none;
    height:56px;
    font-size:21px;
    line-height:32px;
    font-weight:100;
    padding-left:64px;
    -webkit-transition:border-color .3s ease-out;
    transition:border-color .3s ease-out;
    border-radius:2px;
}

#contact-form .form-group{
    position:relative;
}

#contact-form .form-group [class*=fa] {
    display:block;
    width:64px;
    position:absolute;
    top:0;
    left:5px;
    color:#e5e5e5;
    font-size:24px;
    line-height:53px;
    text-align:center;
    font-weight:300;
    opacity:0.5;
    transition:opacity .2s ease-out;
}

#contact-form.no-placeholder .form-group [class*=fa]{
    top:30px;
}

#contact-form .form-control:focus + [class*=fa]{
    opacity:1;
}

#contact-form textarea.form-control {
    height:auto;
    max-width:100%;
    min-width:100%;
    font-size:21px;
    line-height:32px;
    padding-top:10px;
}

#contact-form .form-control:focus {
    background:#fff;
    border-bottom:3px solid #f9398c;
    outline:none;
    box-shadow:none;
    -webkit-transition:border-color .3s ease-in;
    transition:border-color .3s ease-in;
}

#contact-form .error-message {
    padding:5px 0;
    position:absolute;
    top:-30px;
    right:0;
    font-size:14px;
    font-weight:300;
    color:#ff0000;
    z-index:10;
}

#contact-form .error-message:before {
    content:"\00d7";
    font-size: 21px;
    line-height: 21px;
    margin-right: 5px;
}

/*----------------------
----- Footer Styles ----
------------------------*/

#main-footer {
    background: #fff;
}

#main-footer p a {
    padding-bottom: 40px;
    font-size: 25px;
    text-decoration: none;
}

#main-footer p {
    text-align: center; 
}

.social-links {
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:30px;
}

.social-links li{
    display:inline-block;
    margin:0 5px;
    border-radius:3px;
    box-shadow:0 4px 0 transparent;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a {
    display:block;
    color:#fff;
    font-size:21px;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    background:#509B9E;
    border-radius:50%;
    -webkit-transition:all .3s ease-out;
    transition:all .3s ease-out;
}

.social-links li a:hover {
    color:#fff;
    background:#f9398c;
}

