body {

	margin: 0;
	padding: 0;
	color: #d7e1ee;
	font-family: 'Montserrat', sans-serif;
}


/* Header */

.header-basic {
	background-color: #2A2937;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}


.header-basic .header-limiter nav {
	font: 16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a {
	display: inline-block;
	padding: 0 5px;
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover {
	color: #D7AF5B;
	/* opacity: 1; */
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float: none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

}

/* MAIN  */

main {
	height: 150em;
	background-color: #2A2937;

	/* parralax */
	/* overflow-x: hidden;
	overflow-y: auto; */
	/* perspective: 2px; */

}

/* SECTION 1 */
.first_section {
	background-color: #1B1924;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.first_section h1 {
	font-weight: lighter;
	align-self: center;
	font-size: 3vw;
	padding-right: 5%;
}

.first_section .logoLR {
	height: 80%;
	padding-top: 2%;
	align-items: center;
	/* width: 100%; */
}

.first_section img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}


/* SECTION 2 */
.section_2 {
	display: flex;
	flex-direction: column;
	margin-right: 25%;
	margin-left: 25%;
	padding: 4%;
}

.section_2 button {
	background-color: #D7AF5B;
	align-self: baseline;
	width: 20%;
	height: 50px;

	background-image: linear-gradient(to right, #e47d29, #D7AF5B, #ef9d43, #e77407);
	box-shadow: 0 0px 10px 0 rgba(243, 95, 9, 0.932);


	color: #2A2937;
	cursor: pointer;
	border: none;

	border-radius: 20px;
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.section_2 button a {
	text-decoration: none;
	color: #2A2937;
	font-size: x-large;
	font-weight: lighter;
}

.section_2 button:hover {
	-o-transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

.section_2 button:hover:focus {
	outline: none;
}


/* HR  */

.divider {
	color: #ffffff;
	display: table;
	font-size: 5vh;
	text-align: center;
	width: 85%;
	margin: 40px auto;
	padding-top: 3%;
}

.divider span {
	display: table-cell;
	position: relative;
}

.divider span:first-child,
.divider span:last-child {
	width: 50%;
	top: 13px;
	-moz-background-size: 100% 2px;
	background-size: 100% 2px;
	background-position: 0 0, 0 100%;
	background-repeat: no-repeat;
}

.divider span:first-child {
	background-image: -webkit-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: -moz-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: -o-linear-gradient(180deg, transparent, #d7e1ee);
	background-image: linear-gradient(90deg, transparent, #d7e1ee);
}

.divider span:nth-child(2) {
	color: #d7e1ee;
	padding: 0px 5px;
	width: auto;
	white-space: nowrap;
}

.divider span:last-child {
	background-image: -webkit-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: -moz-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: -o-linear-gradient(180deg, #d7e1ee, transparent);
	background-image: linear-gradient(90deg, #d7e1ee, transparent);
}

.divider span {
	color: #ffffff;
}

/* MES PROJETS  */
.bg_container1,
.bg_container2,
.bg_container3 {
	width: 100%;
	height: 20vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.bg_container1 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://www.theindianwire.com/wp-content/uploads/2020/04/fidget-spinner-video-games-controllers-playstation-wallpaper-1024x683.jpg);

}

.bg_container2 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://g5-assets-cld-res.cloudinary.com/image/upload/x_0,y_134,h_1233,w_2186,c_crop/q_auto,f_auto,fl_lossy,c_fill,g_center,h_406,w_720/v1598996497/g5/g5-c-5lzenrews-olympus-property-management/g5-cl-1k8w0ssgsw-mosaic-dallas/services/GettyImages-1257225600_u7gsgu.jpg);

}

.bg_container3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(https://wallpaperaccess.com/full/4014646.jpg);

}

a {
	text-decoration: none;
	color: #fafafa;

}

.bg_container1 h1,
.bg_container2 h1,
.bg_container3 h1 {
	color: #d7e1ee;
	text-align: center;
	font-weight: lighter;
	padding-top: 3%;
}

/* MES COMPETENCES */

.global_gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

div.gallery {
	width: 240px;
	justify-items: center;
}

div.gallery img {
	width: 100%;
	height: auto;
}

/* MES LOISIRS*/

.loisirs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* align-items: center; */
}

.loisirs img {
	height: 250px;
	margin-right: 100px;
	margin-left: 100px;

}


/* CONTACT FORM  */

.contact {
	background-color: #1B1924;
	padding: 3%;
	font-weight: lighter;
	font-size: 200%;
}

.contact h1 {
	font-weight: lighter;
	font-size: 200%;
	padding-left: 3%;
}
.contact p {
	/* justify-content: center; */
}


/* CONTACT FOOTER */
.site-footer {
	background-color: #2A2937;
	text-align: center;
	/* margin: 10px 0; */
	padding: 2px 0;
}

#social-wrapper {
	text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
	text-align: center;
}

.social-wrapper ul li {
	display: inline;
	margin: 0 5px;
}

.github-icon,
.linkedin-icon {
	/* margin-top: .125em; */
	width: 56px;
	height: 56px;
	opacity: .6;
	filter: alpha(opacity=60);
	/* For IE8 and earlier */
	border-radius: 25px;
}

.github-icon:hover,
.linkedin-icon:hover {
	opacity: 1.0;
	filter: alpha(opacity=100);
	/* For IE8 and earlier */
}

.footer-nav p {
	text-align: center;
	font-size: smaller;
}